PORT=3000
HOST=0.0.0.0
NODE_ENV=development
TLS_CERT_PATH=./certs/cert.pem
TLS_KEY_PATH=./certs/key.pem
DOCKER_IMAGE=sharedterminal:latest
CONTAINER_MEMORY_LIMIT=536870912
CONTAINER_PID_LIMIT=256
SESSION_IDLE_TIMEOUT_MS=3600000
